h1 ~ h2 {
    text-align: left;
    font-size: 1.25rem;
}

td + td {
    width: 100%;
}

td input {
    font-size: 0.75rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0.25rem;
}
